@import url('./reset.css');

html,
body,
#app {
  @apply font-element;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--el-text-color-primary);
  background-color: var(--color-disabled);
}

:root {
  --color-background: #fff;
  --color-disabled: #fafbfc;
  --color-hover: rgba(0, 0, 0, 0.1);
}

/* scroll-bar样式 */
* {
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  background-color: transparent;
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  transition: background 0.2s ease-in-out;
  border: 3px solid transparent;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  border-radius: 9999px;
}
